<!DOCTYPE html>
<html>

  
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='custom.css') }}">

    <title>Al Dente</title>
  </head>

<body>
  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="/">Al Dente</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/about">About<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://github.com/jerrylin3321">My Github</a>
          </li>

        </ul>
      </div>
    </div>
  </nav>
  <!-- About Text -->
  <div class="col md-4">
    <div class="about">
      <h1 class="display-4">Welcome to Al Dente</h1>
    </div>
    <p class="lead">
      Al Dente is a restaurant finding website that makes it easier than ever to find the food you love. Simply type in a search term, and 
      you'll find results curated by Yelp's search engine. If you're paralyzed by indecision, use the convenient Quick Recommendations panel for ideas.
      With automated location access, you can skip the hassle of typing in your location.
      Explore where you'll be going with a detailed Google Maps side panel and review excerpts. If you're interested in a restaurant, simply click a link and you'll be redirected to 
      the restaurant's full page on Yelp.

    </p>
  </div>

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Jerry Lin 2020</p>
    </div>
    <!-- /.container -->
  </footer>



</body>
</html>